@import "https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nabla:EDPT@0&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

body{
    color: #333;
    font-family: "Roboto" ;
    
    .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    }



}





.wrapper {

    .header {
        display: flex;
        justify-content: space-between;
        .header__container-1 {
            display: flex;
            justify-content: space-between;
            width: 1400px;
            margin: 0px auto;
    
        }
        .header__title-logo {
            background-color: azure;
            span{
                color: #ff6b6b;
            }
        }
        .header__nav {
            ul{
                
                display: flex;
                padding: 2px 10px;
                li{
                    list-style-type: none;
                }
            }
            
            
        }
        .header__list {
            display: block;
        }
    }
   
    
    .main {
        background-color: #ff6b6b;
        .main__container-1 {
        
            max-width: 1400px;
            margin: 0px auto;
            
        }
       
        
        .main__block {
        }
        .main__miniblock {
        }
    
    }
  


    .about {
        background-color: white;
    }
    .about__title {
        color: #ff6b6b;
    }
    .about__main-text {
    }





    .footer__title {
        color: #ff6b6b;
    }
    .footer__main-text {
    }
}
    


