body{
    background: linear-gradient(black,rgb(29, 29, 29));
    height: 300vh;
    color: whitesmoke;
}
.all__container {
    width: 85%;
    margin: 0px auto;
    .navigation {
        height: 100%;
        width: 100%;
        margin: 30px 0px 0px 0px;
        .navigation__container {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            .navigation__logo {
                display: flex;
                .logo__front-logo{
                    width: 140px;
                    height: 70px;
                }
                .logo__front-logo img{
                    width: 140px;
                    height: 70px;
                }
            }
           
            .navigation__blocks {
                display: flex;
                justify-content: space-evenly;
                width: 40%;
                .blocks__first {
                }
                .blocks__second {
                }
                .blocks__third {
                }
            }
    
            .navigations__batton {
                display: flex;
                
                .button__nav {
                    margin: 0px 7px 0px 0px;

                }
                
                .indicator {
                    border-radius: 50%;
                    background-color: rgb(0, 0, 0);
                    color: rgb(255, 255, 255);
                    border: 1px solid whitesmoke;
                    padding: 1px 2px 3px;
                }
            }
                
            }
        }
    
    }





